<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" data-bs-theme="auto">
<head>
    <meta charset="UTF-8">
    <title>Страница задачи</title>
    <style>
        body {
            display: flex;
            flex-direction: column;
            min-height: 100vh;
            margin: 0;
            padding: 0;
        }

        main {
            flex-grow: 1;
            overflow-y: auto;
        }

        footer {
            flex-shrink: 0;
            text-align: center;
            line-height: 50px;
        }
        .wrapper {
            display: flex;
            height: 100%;
        }

        .content {
            flex: 8;
        }
    </style>
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/5.1.1/css/bootstrap.min.css" />
</head>
<body class="text-center">
<header>
    <div th:insert="~{fragments/navigation_fragments  :: navbar}"></div>
</header>
<main>
    <input type="hidden" id="taskId" th:value="${currentTaskId}" />
    <div class="wrapper">
        <table style="width: 100%" class="table">
            <tr>
                <td>
                    <div class="content">
                        <div th:class="text-start">
                            <label class="form-label" th:text="'Номер задачи - [id:'+${currentTaskId}+']'"></label>
                            <div th:utext="${markdownTestDescription}"></div>
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="mb-3">
                        <form method="post">
                            <label for="description" class="form-label">Заполните поле для изменения описания задачи</label>
                            <textarea class="form-control" id="description" name="description" rows="5" maxlength="10000" th:value="${description}" onchange="this.form.submit()"></textarea>
                        </form>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div id="messageContainer"></div>
                    <h2>Правильный ответ</h2>
                        <textarea disabled class="form-control" id="correctAnswer" name="correctAnswer" placeholder="Верный ответ"
                        ></textarea>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="row">
                        <div class="col">
                            <h2>Существующие ответы</h2>
                            <table id="answerTable" class="table table-striped table-sm">
                                <thead>
                                <tr>
                                    <th scope="col">Содержание</th>
                                    <th scope="col">Действие</th>
                                </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                            <nav aria-label="Page navigation">
                                <ul class="pagination justify-content-center" id="answerPaginationContainer">
                                    <!-- Здесь будут отображаться элементы пагинации -->
                                </ul>
                            </nav>
                        </div>
                        <div class="col">
                            <h2>Выбранные ответы</h2>
                            <table id="selectedAnswerTable" class="table table-striped table-sm">
                                <thead>
                                <tr>
                                    <th scope="col">Содержание</th>
                                    <th scope="col" colspan="2">Действие</th>
                                </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                            <nav aria-label="Page navigation">
                                <ul class="pagination justify-content-center" id="selectedAnswerPaginationContainer">
                                    <!-- Здесь будут отображаться элементы пагинации -->
                                </ul>
                            </nav>
                        </div>
                    </div>
                </td>
            </tr>
        </table>
    </div>
</main>
<footer th:replace="~{fragments/navigation_fragments  :: footer}"></footer>
</body>
<script type="text/javascript" src="/webjars/jquery/3.6.0/jquery.min.js"></script>
<script type="text/javascript" src="/webjars/bootstrap/5.1.1/js/bootstrap.min.js"></script>
<script type="text/javascript">
    let currentPage = 1;
    let taskId = document.getElementById("taskId").value;
    let messageContainer = $('#messageContainer');

    function insertAnswer(id) {
        $.ajax({
            url: '/task_answer/add?answerId='+ id + '&taskId='+ taskId,
            type: 'POST',
            success: function(data) {
                console.log(data);
                updateAnswerTable(currentPage);
                updateSelectedAnswerTable(currentPage);
                messageContainer.empty();
                let message = $('<div>').addClass('alert');
                if (data.startsWith('Ошибка: ')) {
                    message.addClass('alert-danger');
                } else {
                    message.addClass('alert-success');
                }
                message.text(data);
                messageContainer.append(message);
            },
            error: function(xhr, status, error) {
                console.log('Ошибка при удалении ответа: ' + error + " status: " + status);
            }
        });
    }

    // Функция для обновления таблицы
    function updateAnswerTable(page) {
        currentPage = page;
        $.ajax({
            url: '/task_answer/get_records?page=' + page + '&taskId=' + taskId, // URL для получения данных с сервера
            method: 'GET',
            success: function (answers) {
                // Очищаем tbody таблицы
                $('#answerTable tbody').empty();

                // Перебираем полученные записи и добавляем их в таблицу
                for (let i = 0; i < answers.length; i++) {
                    let answer = answers[i];
                    let row = '<tr>' +
                        '<td>' + answer.description + '</td>' +
                        '<td><button class="btn btn-secondary btn-sm"  onclick="insertAnswer(' + answer.id + ')">Вставить</button></td>' +
                        '</tr>';

                    $('#answerTable tbody').append(row);
                }

                // Обновляем пагинацию
                loadAnswerPageCount(page);
            },
            error: function (xhr, status, error) {
                // Обработка ошибок при выполнении AJAX запроса
                console.log('Ошибка при получении данных:', error);
            }
        });
    }


    // Функция для обновления пагинации
    function updateAnswerPagination(totalPages, currentPage) {
        let paginationContainer = $('#answerPaginationContainer');
        paginationContainer.empty();
        if (totalPages <= 1) {
            return; // Нет необходимости отображать пагинацию
        }

        if (currentPage > 1) {
            let previousPage = currentPage - 1;
            let previousButton = $('<li>').addClass('page-item')
                .append($('<a>').addClass('page-link').attr('href', '#').text('«').click(function () {
                    updateAnswerTable(previousPage);
                }));

            paginationContainer.append(previousButton);
        }

        for (let i = 0; i < totalPages; i++) {
            let pageButton = $('<li>').addClass('page-item')
                .append($('<a>').addClass('page-link').attr('href', '#').text(i+1).click(function () {
                    updateAnswerTable(i+1);
                }));

            if (i+1 === currentPage) {
                pageButton.addClass('active');
                pageButton.prop('disabled', true);
            }

            paginationContainer.append(pageButton);
        }
        if (currentPage < totalPages) {
            let nextPage = currentPage + 1;
            let nextButton = $('<li>').addClass('page-item')
                .append($('<a>').addClass('page-link').attr('href', '#').text('»').click(function () {
                    updateAnswerTable(nextPage);
                }));

            paginationContainer.append(nextButton);
        }
    }

    function loadAnswerPageCount(currentPage) {
        $.ajax({
            url: '/task_answer/get_page_count?taskId=' + taskId,
            type: 'GET',
            success: function(data) {
                updateAnswerPagination(data, currentPage);
            },
            error: function(xhr, status, error) {
                console.log('Ошибка при загрузке количества страниц: ' + error);
            }
        });
    }


    function removeAnswer(id) {
        $.ajax({
            url: '/task_answer/delete?answerId='+ id + '&taskId='+ taskId,
            type: 'POST',
            success: function(data) {
                console.log(data);
                updateAnswerTable(currentPage);
                updateSelectedAnswerTable(currentPage);
                messageContainer.empty();
                let message = $('<div>').addClass('alert');
                if (data.startsWith('Ошибка: ')) {
                    message.addClass('alert-danger');
                } else {
                    message.addClass('alert-success');
                }
                message.text(data);
                messageContainer.append(message);
            },
            error: function(xhr, status, error) {
                console.log('Ошибка при удалении ответа: ' + error + " status: " + status);
            }
        });
    }

    function selectCorrectAnswer(id) {
        $.ajax({
            url: '/task_correct_answer/add?answerId='+ id + '&taskId='+ taskId,
            type: 'POST',
            success: function(data) {
                console.log(data);
                messageContainer.empty();
                let message = $('<div>').addClass('alert');
                if (data.startsWith('Ошибка: ')) {
                    message.addClass('alert-danger');
                } else {
                    message.addClass('alert-success');
                }
                message.text(data);
                messageContainer.append(message);
                updateCorrectAnswer();
            },
            error: function(xhr, status, error) {
                console.log('Ошибка при изменении верного ответа: ' + error + " status: " + status);
            }
        });
    }

    function updateCorrectAnswer() {
        $.ajax({
            url: '/task_correct_answer/getByTaskId?taskId='+ taskId,
            type: 'GET',
            success: function(data) {
                console.log(data);
                document.getElementById("correctAnswer").value = data;
            },
            error: function(xhr, status, error) {
                console.log('Ошибка при выводе верного ответа: ' + error + " status: " + status);
            }
        });
    }

    // Функция для обновления таблицы
    function updateSelectedAnswerTable(page) {
        currentPage = page;
        $.ajax({
            url: '/task_answer/get_records_selected?page=' + page + '&taskId=' + taskId, // URL для получения данных с сервера
            method: 'GET',
            success: function (answers) {
                // Очищаем tbody таблицы
                $('#selectedAnswerTable tbody').empty();

                // Перебираем полученные записи и добавляем их в таблицу
                for (let i = 0; i < answers.length; i++) {
                    let answer = answers[i];
                    let row = '<tr>' +
                        '<td>' + answer.description + '</td>' +
                        '<td><button class="btn btn-danger btn-sm"  onclick="removeAnswer(' + answer.id + ')">Открепить</button></td>' +
                        '<td><button class="btn btn-primary btn-sm"  onclick="selectCorrectAnswer(' + answer.id + ')">Выбрать верным</button></td>' +
                        '</tr>';

                    $('#selectedAnswerTable tbody').append(row);
                }

                // Обновляем пагинацию
                loadSelectedAnswerPageCount(page);
            },
            error: function (xhr, status, error) {
                // Обработка ошибок при выполнении AJAX запроса
                console.log('Ошибка при получении данных:', error);
            }
        });
    }

    // Функция для обновления пагинации
    function updateSelectedAnswerPagination(totalPages, currentPage) {
        let paginationContainer = $('#selectedAnswerPaginationContainer');
        paginationContainer.empty();
        if (totalPages <= 1) {
            return; // Нет необходимости отображать пагинацию
        }

        if (currentPage > 1) {
            let previousPage = currentPage - 1;
            let previousButton = $('<li>').addClass('page-item')
                .append($('<a>').addClass('page-link').attr('href', '#').text('«').click(function () {
                    updateSelectedAnswerTable(previousPage);
                }));

            paginationContainer.append(previousButton);
        }

        for (let i = 0; i < totalPages; i++) {
            let pageButton = $('<li>').addClass('page-item')
                .append($('<a>').addClass('page-link').attr('href', '#').text(i+1).click(function () {
                    updateSelectedAnswerTable(i+1);
                }));

            if (i+1 === currentPage) {
                pageButton.addClass('active');
                pageButton.prop('disabled', true);
            }

            paginationContainer.append(pageButton);
        }
        if (currentPage < totalPages) {
            let nextPage = currentPage + 1;
            let nextButton = $('<li>').addClass('page-item')
                .append($('<a>').addClass('page-link').attr('href', '#').text('»').click(function () {
                    updateSelectedAnswerTable(nextPage);
                }));

            paginationContainer.append(nextButton);
        }
    }

    function loadSelectedAnswerPageCount(currentPage) {
        $.ajax({
            url: '/task_answer/get_page_count_selected?taskId=' + taskId,
            type: 'GET',
            success: function(data) {
                updateSelectedAnswerPagination(data, currentPage);
            },
            error: function(xhr, status, error) {
                console.log('Ошибка при загрузке количества страниц: ' + error);
            }
        });
    }


    $(document).ready(function () {
        // Инициализация таблицы с ответами при загрузке страницы
        updateAnswerTable(1);
        updateSelectedAnswerTable(1);
        updateCorrectAnswer();
    });
</script>
</html>
